@model MediaRequest.WebUI.ViewModels.IndexViewModel
@using MediaRequest.Domain.API_Responses
@using MediaRequest.Domain.API_Responses.Shared
@using MediaRequest.Domain.API_Responses.Sonarr
@using MediaRequest.Domain.API_Responses.Radarr.v3

@{
    var err = TempData["Error"];
    if (err != null)
    {
        <span class="alert alert-danger">@err</span>
    }
}

@if (Model.PartialView.Movies != null)
{
    <div class="movie-hero">
        <div class="movie-hero-content">
            <div class="text-body">
                <h3>Recently Added:</h3>
                <h2 class="text-white text-center">@Model.LatestMovie.Title</h2>
                <p>@Model.LatestMovie.Overview</p>
                <div class="button-container">
                    @if (Model.LatestMovie is Movie)
                    {
                        <a asp-action="Show" asp-controller="Movie" asp-route-slug="@(((Movie)Model.LatestMovie).Slug)" class="btn btn-primary btn-shadow"><span>Go to movie page <i class="fas fa-film"></i></span></a>
                    }
                    else if (Model.LatestMovie is Series)
                    {
                        <a asp-action="Show" asp-controller="Television" asp-route-slug="@(((Series)Model.LatestMovie).Slug)" class="btn btn-primary btn-shadow"><span>Go to show page <i class="fas fa-film"></i></span></a>
                    }
                </div>
            </div>
            <div class="movie-hero-poster">
                <img src="@Model.LatestMovie.PosterUrl" />
            </div>
        </div>
        <div class="background">
            <img src="@Model.LatestMovie.FanartUrl" />
        </div>
    </div>

    <div class="container movies-partial-container" id="movies-partial-container">
        <partial name="_MovieListPartial" model="Model.PartialView" />
    </div>
}
else
{
    <h1>No movies added</h1>
}

