@model MediaRequest.WebUI.ViewModels.IndexViewModel

@{
    var err = TempData["Error"];
    if(err != null)
    {
        <span class="alert alert-danger">@err</span>
    }
}

@if (Model.PartialView.Movies != null)
{
    <div class="movie-hero">
        <div class="movie-hero-content">
            <div class="text-body">
                <h3>Recently Added:</h3>
                <h1>@Model.LatestMovie.Title </h1>
                <p>@Model.LatestMovie.Overview</p>
                <div class="button-container">
                    <a asp-action="ShowMovie" asp-controller="Movie" asp-route-slug="@Model.LatestMovie.TitleSlug" class="btn btn-primary btn-shadow"><span>Go to movie page <i class="fas fa-film"></i></span></a>
                </div>
            </div>
            <div class="movie-hero-poster">
                <img src="@Model.LatestMovie.PosterUrl" />
            </div>
        </div>
        <div class="background">
            <img src="@Model.LatestMovie.FanartUrl" />
        </div>
    </div>

    <div class="container movies-partial-container" id="movies-partial-container">
        <partial name="_MovieListPartial" model="Model.PartialView" />
    </div>
}
else
{
    <h1>No movies added</h1>
}

