@using MediaRequest.Application.Business.Enums 
@using MediaRequest.WebUI.Business.Services 

@inject IImageProcessorService ImageProcessor
@model MediaRequest.WebUI.ViewModels.IndexListPartialViewModel

@{ 
    var nextPage = Model.CurrentPage + 1;
    var prevPage = Model.CurrentPage - 1;
}

<div class="movie-list-header">
    <h1>Existing movies</h1>
    <form asp-action="Index" asp-controller="Home" method="post" data-ajax="true" data-ajax-mode="replace" data-ajax-update=".movies-partial-container" data-ajax-method="post">
        <div class="input-container">
            <i class="fas fa-search"></i>
            @if (Model.Term != null)
            {
                <input name="term" placeholder="Search.." value="@Model.Term" />
            }
            else
            {
                <input name="term" placeholder="Search.." />
            }
        </div>
    </form>
</div>

<div class="movie-list-filter mb-1">
    <ul class="py-3">
        <li class="btn-sm btn-blank filter-0"><a asp-action="Index" asp-controller="Home" asp-route-filter="@Filters.All" asp-route-term="@Model.Term" method="post" data-ajax="true" data-ajax-mode="replace" data-ajax-update=".movies-partial-container" data-ajax-method="post">All</a></li>
        <li class="btn-sm btn-blank filter-1"><a asp-action="Index" asp-controller="Home" asp-route-filter="@Filters.Downloaded" asp-route-term="@Model.Term" method="post" data-ajax="true" data-ajax-mode="replace" data-ajax-update=".movies-partial-container" data-ajax-method="post">Downloaded</a></li>
        <li class="btn-sm btn-blank filter-2"><a asp-action="Index" asp-controller="Home" asp-route-filter="@Filters.Missing" asp-route-term="@Model.Term" method="post" data-ajax="true" data-ajax-mode="replace" data-ajax-update=".movies-partial-container" data-ajax-method="post">Missing</a></li>
    </ul>
</div>

<div class="movie-list-container">
    @if (Model.Movies.Count() > 0)
    {
        <div class="loading mb-3"><img src="~/img/loading.gif" /></div>
        @foreach (var item in Model.Movies.OrderByDescending(x => x.FileOrMediaAdded))
        {
            <div class="movie-container">
                <div class="movie-poster pb-sm-3 pb-lg-0">
                    @if (item.PosterUrl != null)
                    {
                        <a asp-action="Show" asp-controller="Movie" asp-route-slug="@item.Slug">
                            <img src="@await ImageProcessor.GetImageUrl(item.PosterUrl, 400, 550)" />
                        </a>
                    }
                    else
                    { 
                        <a asp-action="Show" asp-controller="Movie" asp-route-slug="@item.Slug">
                            @*<img src="@item.PosterUrl" />*@
                            <img src="@await ImageProcessor.GetImageUrl(item.PosterUrl, 400, 550)" />
                        </a>
                    }
                </div>

                <div class="movie-info">
                    <div class="info">
                        <h2>
                            <a asp-action="Show" asp-controller="Movie" asp-route-slug="@item.Slug">@item.Title</a>
                            <span style="opacity:0.7">(@item.Year)</span>
                        </h2>
                        <section class="badge-container">
                            <h6>
                                @if (item.InCinemas > DateTime.Now)
                                {
                                    // If movie isn't in cinema
                                    <span class="badge badge-secondary">In Cinemas: @item.InCinemas.ToString("dd MMMM yyyy")</span>
                                }
                                else if (item.InCinemas < DateTime.Now && item.PhysicalRelease > DateTime.Now)
                                {
                                    // If movie is in cinemas and physical release is announced
                                    <span class="badge badge-secondary">In Cinemas</span>
                                }

                                @if (!item.Monitored && !item.HasFile)
                                {
                                    <span class="badge badge-danger">Not Monitored</span>
                                }

                                @if (!item.HasFile && item.PhysicalRelease < DateTime.Now && item.PhysicalRelease != DateTime.Parse("0001-01-01 00:00:00"))
                                {
                                    <span class="badge badge-danger">Not Downloaded</span>
                                }
                                else if (item.HasFile)
                                {
                                    <span class="badge badge-success">Downloaded</span>
                                }
                            </h6>
                        </section>

                        @if (item.Overview != "")
                        {
                            <p>@item.Overview</p>
                        }
                        else
                        {
                            <p class="errormsg">No information available at this time</p>
                        }
                    </div>

                    <div class="button-container">
                        <a class="btn-sm btn-primary" asp-action="Show" asp-controller="Movie" asp-route-slug="@item.Slug"><span><i class="fas fa-film"></i> Go to movie page</span></a>
                        @if (item.PhysicalRelease < DateTime.Now && item.PhysicalRelease != DateTime.Parse("0001-01-01 00:00:00"))
                        {
                            if ((!item.Monitored && !item.HasFile) || !item.HasFile)
                            {
                                <a class="btn-sm btn-default" href="#"><span><i class="fas fa-redo"></i> Request re-download</span></a>
                            }
                        }
                    </div>
                </div>
            </div>
        }

<div class="pagination">
    @(await Html.PartialAsync("~/Views/Shared/Partials/_Pagination.cshtml"))
</div>
    }
    else
    {
        <h1>No movies found</h1>
    }
</div>