@model MediaRequest.WebUI.ViewModels.IndexListPartialViewModel

<div class="movie-list-header">
    <h1>Existing movies</h1>
    <form asp-action="Index" asp-controller="Home" method="post" data-ajax="true" data-ajax-mode="replace" data-ajax-update=".movies-partial-container" data-ajax-method="post">
        <div class="input-container">
            <i class="fas fa-search"></i>
            @*<input name="term" placeholder="Search.." />*@
            @if (Model.Term != null)
            {
                <input name="term" placeholder="Search.." value="@Model.Term" />
            }
            else
            {
                <input name="term" placeholder="Search.." />
            }
        </div>
    </form>
</div>

<div class="movie-list-filter">
    <ul>
        <li class="filter-0"><a asp-action="Index" asp-controller="Home" asp-route-filter="0" asp-route-term="@Model.Term" method="post" data-ajax="true" data-ajax-mode="replace" data-ajax-update=".movies-partial-container" data-ajax-method="post">All</a></li>
        <li class="filter-1"><a asp-action="Index" asp-controller="Home" asp-route-filter="1" asp-route-term="@Model.Term" method="post" data-ajax="true" data-ajax-mode="replace" data-ajax-update=".movies-partial-container" data-ajax-method="post">Downloaded</a></li>
        <li class="filter-2"><a asp-action="Index" asp-controller="Home" asp-route-filter="2" asp-route-term="@Model.Term" method="post" data-ajax="true" data-ajax-mode="replace" data-ajax-update=".movies-partial-container" data-ajax-method="post">Missing</a></li>
    </ul>
</div>

<div class="movie-list-container">
    @if (Model.Movies.Count() > 0)
    {
        @foreach (var item in Model.Movies)
        {
            <div class="movie-container">
                <div class="movie-poster">
                    @if (item.RemotePoster != null)
                    {<img src="@item.RemotePoster" /> }
                    else
                    { <img src="@item.PosterUrl" />}

                </div>
                <div class="movie-info">
                    <div class="info">
                        <h2>
                            <a asp-action="ShowMovie" asp-controller="Movie" asp-route-slug="@item.TitleSlug">@item.Title</a>
                            <span style="opacity:0.7">(@item.Year)</span>
                        </h2>
                        <section class="badge-container">
                            <h6>
                                @if (item.InCinemas > DateTime.Now)
                                {
                                    // If movie isn't in cinema
                                    <span class="badge badge-secondary">In Cinemas: @item.InCinemas.ToString("dd MMMM yyyy")</span>
                                }
                                else if (item.InCinemas < DateTime.Now && item.PhysicalRelease == DateTime.Parse("0001-01-01 00:00:00"))
                                {
                                    // If movie is in cinema and no physical release date
                                    <span class="badge badge-secondary">In Cinemas</span>
                                }
                                else if (item.InCinemas < DateTime.Now && item.PhysicalRelease > DateTime.Now)
                                {
                                    // If movie is in cinemas and physical release is announced

                                    <span class="badge badge-secondary">In Cinemas</span>

                                }

                                @if (!item.Monitored && !item.Downloaded)
                                {
                                    <span class="badge badge-danger">Not Monitored</span>
                                }

                                @if (!item.Downloaded && item.PhysicalRelease < DateTime.Now && item.PhysicalRelease != DateTime.Parse("0001-01-01 00:00:00"))
                                {
                                    <span class="badge badge-danger">Not Downloaded</span>
                                }
                                else if (item.Downloaded)
                                {
                                    <span class="badge badge-success">Downloaded</span>
                                }
                            </h6>
                        </section>

                        @if (item.Overview != "")
                        {
                            <p>@item.Overview</p>
                        }
                        else
                        {
                            <p class="errormsg">No information available at this time</p>
                        }
                    </div>

                    <div class="button-container">
                        <a class="btn-sm btn-primary" asp-action="ShowMovie" asp-controller="Movie" asp-route-slug="@item.TitleSlug"><i class="fas fa-film"></i> Go to movie page</a>
                        @if (item.PhysicalRelease < DateTime.Now && item.PhysicalRelease != DateTime.Parse("0001-01-01 00:00:00"))
                        {
                            if ((!item.Monitored && !item.Downloaded) || !item.Downloaded)
                            {
                                <a class="btn-sm btn-default" href="#"><i class="fas fa-redo"></i> Request re-download</a>
                            }
                        }
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <h1>No movies found</h1>
    }

</div>