@using MediaRequest.WebUI.Business.Services
@inject IImageProcessorService ImageProcessor
@using Microsoft.FeatureManagement 
@inject IFeatureManager FeatureManager

@model MediaRequest.WebUI.ViewModels.Television.SeriesViewModel

<div class="single-movie-container" id="main-container">
    <div class="hero-container">
        <partial name="_Fanart" model="Model.SonarrSeries" />
    </div>
    <section class="container px-xs-1 px-sm-2 px-md-3">
        <div class="head">
            <div class="poster">
                <partial name="_Poster" model="Model.SonarrSeries" />
            </div>
            <div class="info pt-xs-2 pt-lg-0">
                <div class="title">
                    <h1 style="color:#222;">@Model.SonarrSeries.Title</h1>
                    <div class="trivia py-lg-1">
                        <ul>
                            <li>@Model.SonarrSeries.Year</li>
                        </ul>
                        <ul>
                            @foreach (var genre in Model.SonarrSeries.Genres)
                            {
                                <li>@genre</li>
                            }
                        </ul>
                        <ul>
                            <li>@Model.SonarrSeries.Runtime minutes</li>
                        </ul>
                    </div>
                </div>

                <p class="overview">@Model.SonarrSeries.Overview</p>

                <div class="ratings">
                    <span title="The Movie Database rating">
                        <i class="fas fa-star"></i>
                        <span class="rating">@(Model.SonarrSeries.Ratings.Value % 1 != 0 ? Model.SonarrSeries.Ratings.Value.ToString() : Model.SonarrSeries.Ratings.Value.ToString() + ",0")</span>
                        <span class="totalvotes">/ @Model.SonarrSeries.Ratings.Votes votes</span>
                    </span>
                </div>
            </div>
        </div>
            <div class="body">
                @if (await FeatureManager.IsEnabledAsync("TheMovieDB"))
                {
                    <div id="container">
                        <section class="details">
                            <partial name="_CreditsPartial" model="Model.Cast" />
                        </section>
                    </div>
                    <div hidden class="loading"><img src="~/img/loading.gif" /></div>
                }

                @foreach (var season in Model.SonarrSeries.Seasons)
                {
                    <div style="border:1px solid lightgrey;padding:2rem;border-radius:25px">
                        <h3>Season @season.SeasonNumber @season.Statistics.EpisodeCount/@season.Statistics.TotalEpisodeCount</h3>
                    </div>
                }
            </div>
    </section>
</div>

<div class="mobile-button-block">
    <ul>
        @if (Model.Accepted || Model.AlreadyAdded)
        {
            <li><a class="btn btn-disabled">Already added <i class="fas fa-plus"></i></a></li>
        }
        else if (Model.Requested)
        {
            <li><a class="btn btn-disabled">Pending approval <i class="fas fa-plus"></i></a></li>
        }
        else
        {
            <li><a class="btn btn-default" asp-action="AddRequest" asp-controller="Request" asp-route-tmdbid="">Request series <i class="fas fa-plus"></i></a></li>
        }
    </ul>
</div>