@model MediaRequest.Domain.Radarr.Movie

<div class="single-movie-container">
    <div class="hero-container">
        <img class="background" src="@Model.FanartUrl" />
    </div>
    <section class="container">
        <div class="head">
            <div class="poster">
                <img src="@Model.PosterUrl">
            </div>
            <div class="info">
                <div class="title">
                    <h1 style="color:#222;">@Model.Title</h1>
                    <div class="trivia">
                        <ul>
                            <li>@Model.Year</li>
                        </ul>
                        <ul>
                            @foreach (var genre in Model.Genres)
                            {
                                <li>@genre</li>
                            }
                        </ul>
                        <ul>
                            <li>@Model.Runtime minutes</li>
                        </ul>
                    </div>
                </div>

                <p class="overview">@Model.Overview</p>

                <div class="ratings">
                    <span title="The Movie Database rating">
                        <i class="fas fa-star"></i>
                        <span class="rating">@Model.Ratings.Value.</span>
                        <span class="totalvotes">/ @Model.Ratings.Votes votes</span>
                    </span>
                </div>

                <div class="button-block">
                    <ul>
                        <li><a class="btn btn-primary" asp-action="Trailer" asp-controller="Movie" asp-route-ytid="@Model.youTubeTrailerId" method="get" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#trailer-container" data-ajax-method="get" data-ajax-loading=".loading">Watch trailer <i class="fab fa-youtube"></i></a></li>
                        <li><a class="btn btn-default" asp-action="Request" asp-controller="Request" asp-route-tmdbid="@Model.TMDBId">Request movie <i class="fas fa-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="body">
            <div id="trailer-container"></div>
            <nav class="page-nav">
                <ul class="body-nav">
                    @*<li><a asp-action="Details" asp-controller="Movie" asp-route-tmdbid="@Model.TMDBId" method="get" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#container" data-ajax-method="get" data-ajax-loading=".loading">Details</a></li>*@
                    <li><a href="#">Details</a></li>
                    <li><a asp-action="Credits" asp-controller="Movie" asp-route-tmdbid="@Model.TMDBId" method="get" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#container" data-ajax-method="get" data-ajax-loading=".loading">Cast</a></li>
                    <li><a asp-action="Recommendations" asp-controller="Movie" asp-route-tmdbid="@Model.TMDBId" method="get" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#container" data-ajax-method="get" data-ajax-loading=".loading">Recommended</a></li>
                </ul>
            </nav>
            <div id="container">
                <section class="details">

                </section>
            </div>
            <div hidden class="loading"><img src="~/img/loading.gif" /></div>
        </div>
    </section>
</div>

<script>
    $(document).ready(function () {
        $('.page-nav > .body-nav > li > a').on('click', function () {
            $('.loading').show();
            $('#container > section').hide();
        });
    });
</script>