@model MediaRequest.WebUI.ViewModels.DistinctMovieUserRequestViewModel

<div class="request-card">
    <div class="request-card-head">
        <a asp-action="Show" asp-controller="Movie" asp-route-slug="@Model.Movie.Slug">
            <partial name="_Fanart" model="Model.Movie" />
        </a>
    </div>
    <div class="request-card-body">
        <a asp-action="Show" asp-controller="Movie" asp-route-slug="@Model.Movie.Slug">
            <h2 class="title">@Model.Movie.Title</h2>
        </a>
        <p class="description">@Model.Movie.Overview</p>
    </div>

    <div class="avatar-container">
        @for (int i = 0; i < Model.Requests.Count() && i < 3; i++)
        {
            var avatar = Model.Requests[i].User.Avatar != null ? "data:image/jpeg;base64," + Convert.ToBase64String(Model.Requests[i].User.Avatar) : "http://all4ed.org/wp-content/themes/all4ed/assets/images/avatar-placeholder-generic.png";

            <div class="avatar-user-container">
                <img class="avatar" src="@avatar" />
                <span id="" class="username">@Model.Requests[i].User.UserName</span>
            </div>
        }

        @if (Model.Requests.Count() > 3)
        {
            <div class="avatar-user-container overflow">
                <span class="overflow-amount">+@(Model.Requests.Count() - 3)</span>
            </div>
        }
    </div>

    @if (Model.Requests.Count() > 3)
    {
        <div class="overflow-users">
            <ul>
                @foreach (var user in Model.Requests)
                {
                    <li>@user.User.UserName</li>
                }
            </ul>
        </div>
    }

    
    @if (Model.Status != true)
    {
        <div class="request-button-container">
            <a class="btn btn-default" asp-action="ApproveRequest" asp-controller="Request" asp-route-id="@Model.Movie.TmdbId"><span>Accept</span></a>
            <button class="btn btn-primary"><span>Decline</span></button>
        </div>
    }
</div>