@model MediaRequest.WebUI.ViewModels.DistinctMovieUserRequestViewModel

<div class="request-card">
    <div class="request-card-head">
        <img src="@Model.Movie.FanartUrl" />
    </div>
    <div class="request-card-body">
        <h2 class="title">@Model.Movie.Title</h2>
        <p class="description">@Model.Movie.Overview</p>
        <div class="request-button-container">
            <button class="btn btn-default"><span>Accept</span></button>
            <button class="btn btn-primary"><span>Decline</span></button>
        </div>
    </div>

    <div class="avatar-container">
        @for (int i = 0; i < Model.Requests.Count() && i < 3; i++)
        {
            <div class="avatar-user-container">
                <img class="avatar" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Requests[i].User.Avatar)" />
                <span id="" class="username">@Model.Requests[i].User.UserName</span>
            </div>
        }

        @if (Model.Requests.Count() > 3)
        {
            <div class="avatar-user-container overflow">
                <span class="overflow-amount">+@(Model.Requests.Count() - 3)</span>
            </div>
        }
    </div>
    @if (Model.Requests.Count() > 3)
    {
        <div class="overflow-users">
            <ul>
                @foreach (var user in Model.Requests)
                {
                    <li>@user.User.UserName</li>
                }
            </ul>
        </div>
    }
</div>