@model List<MediaRequest.WebUI.ViewModels.MovieUserRequestViewModel>

<div class="container">
    <h1>Active requests</h1>
    @foreach (var request in Model)
    {
        if (request.Request.Status == false)
        {
            <partial name="_RequestMoviePartial" model="request" />

            @*<div style="border:1px solid lightgrey;padding:1em;">
                <h1>@request.Movie.Title</h1>
                <h3 style="opacity:0.7">@request.User.UserName</h3>

                <a asp-action="ApproveRequest" asp-controller="Admin" asp-route-requestId="@request.Request.Id">Approve</a>
            </div>*@
        }
    }

    <h1>Previous requests</h1>
    @foreach (var request in Model)
    {
        if (request.Request.Status == true)
        {
            <partial name="_RequestMoviePartial" model="request" />

            @*<div style="border:1px solid lightgrey;padding:1em;">
                <h1>@request.Movie.Title</h1>
                <h3 style="opacity:0.7">@request.User.UserName</h3>
            </div>*@
        }
    }
</div>