@model MediaRequest.WebUI.ViewModels.Admin.AdminPanelViewModel

<div class="admin-container">
    <div class="row">
        <div class="card card-sm">
            <h1>Active requests</h1>
            <h2>@Model.Requests</h2>
        </div>

        <div class="card card-sm">
            <h1>Active reminders</h1>
            <h2>@Model.Reminders</h2>
        </div>

        <div class="card card-sm">
            <h1>Members</h1>
            <h2>@Model.Members</h2>
        </div>
    </div>

    <div class="row">
        <div class="card card-lg">
            <h1>Latest request</h1>
            <h2>@Model.LatestRequest.MovieId</h2>
        </div>
    </div>

    <div class="row">
        <div class="card card-lg">
            <h1>Next upcoming (30 days)</h1>
            <h2>@Model.NextUpcomingMovie.Title</h2>
        </div>
    </div>

    <div class="row">
        <div class="card card-sm">
            <h1>Total Movies</h1>
            <h2>@Model.TotalMovies</h2>
        </div>
    </div>
</div>